<p></p>
<div class="table"><p>Name: <%= @member.name() %></p>
<p>Membership: <%= @member.membership %></p></div>
<form class="button" action="/members/<%= @member.id %>/delete" method="post">
<input type="submit" value="delete">
</form>
<a class="button" href="/members/<%= @member.id %>/edit" >Edit</a>
