<form action="/gymclasses" method="post">
  <label class="button" for="gymclass-select">Select Gymclass</label>
<br>
    <% for gymclass in @gymclasses %>
    <form action="/gymclasses/<%= gymclass.id %>/delete" method="post">
      <input type="submit" value="delete <%= gymclass.type %>">
    </form>

    <% end %>

</select>

</form>
