<h1>Gymclasses</h1>

<table class="table">
  <tr>
    <th>Type</th>
  </tr>
  <% for gymclass in @gymclasses %>
  <tr>
    <td><a href="/gymclasses/<%= gymclass.id %>"><%= gymclass.type %></a></td>

  </tr>
  <% end %>



        <a class="button" href="/gymclasses/new">Add a New Class</a>

      <a class="button" href="/gymclasses/destroy">Delete Class</a>

    </div>
    <div class="image2"><img src="/images/yoga.jpg"/>

</table>
