<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forever Gym</title>
    <link rel="icon" href="/images/barbell.jpg" />
  </head>
  <body>
<header>Forever Gym</header>
<nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/members">Members</a>

      </li>
      <li>
        <a href="/gymclasses">Gymclasses</a>

      </li>
      <li>
        <a href="/timetable">Timetable</a>

      </li>

    </ul>
  </nav>
      <%= yield %>
  </body>
</html>
