<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forever Gym</title>


    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  </head>

  <body>
<div class="gym">


<header>Forever Gym</header>

</div>
<div class="nav">


<nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/members">Members</a>

      </li>
      <li>
        <a href="/gymclasses">Gymclasses</a>

      </li>
      <li>
        <a href="/timetable">Timetable</a>

      </li>

    </ul>
  </nav>
  </div>
      <%= yield %>
  </body>
</html>
