<p>Members registered</p>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for member in @members %>
  <tr>
    <td><%= member.name %></td>

  </tr>
  <% end %>
  <li>
        <a href="/timetable/<%= @timetable.id %>/new_booking">Add a Member</a>

      </li>

    <li>
    <a href="/timetable/<%= @timetable.id %>/delete_booking">Delete a Member</a>
    </li>

</table>
